.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #470A1C;
    color: white;
    text-align: center;
    align-items: center;
    height: auto;
}

.footer-section {
    flex: 1 1 200px;
    margin: 10px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section h4,
.footer-section a,
.footer-section p {
    margin-bottom: 10px;
}

.footer-section a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.footer-section i {

    margin-right: 8px;
}

.logo-section img {
    width: 200px;
    margin-bottom: 10px;
    background: none;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        flex-basis: 100%;
    }
}