.Header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);

}

.left img {
    height: 180px;
    width: auto;
    margin-left: -200px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    transition: all 0.3s ease;

}

.nav-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-weight: 600;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
    white-space: nowrap;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #470A1C;
    color: #fff;
    padding: 10px 20px;
}


.hamburger {
    display: none;
    cursor: pointer;
    font-size: 30px;
}

/* Mobile styles */
@media (max-width: 768px) {

    .Header {
        justify-content: space-between;
    }

    .left img {
        height: 100px;
        width: auto;
        margin-left: 10px;
    }

    .hamburger {
        display: block;
        margin-right: 50px;
    }

    .right {
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.95);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-100%);
        transition: transform 0.4s ease-in-out;
        /* Smoother transition */
        z-index: 1000;
    }

    .right.show {
        transform: translateY(0);
        margin-bottom: 100px;
        /* Slide from top */
    }

    .nav-link {
        font-size: 22px;
        padding: 15px;

        border-bottom: 1px solid #eaeaea;
        width: 100%;
        text-align: center;
    }
}